<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Guruhlar</title>
</head>
<body>
    <h1>Gruhlar ro'yxati</h1>    
    <h2><a href="{% url 'index' %}">{{ user.username }}</a></h2>

    <form action="{% url 'search' %}" method="post">
        {% csrf_token %}
    <input type="text" name="q" placeholder="Guruh nomi">
    <button type="submit">Qidirish</button>
    </form>
    <ul>
        {% for group in groups %}
            <li>
                <a href="{% url 'group_messages' group.code %}">
                    {{ group.name }}{% if request.user == group.admin %}(Meniki){% endif %} 
                </a>
            </li>
        {% endfor %}
    </ul>
    <a href="{% url 'create_group' %}">Guruh yaratish</a>
</body>
</html>
